extends layout.pug

block content
  each post in posts
    .ui.raised.fluid.card
      .content
        .header #{post.dataValues.title}
        .meta
          .right.floated.time #{post.dataValues.postDate}
          .category general
        .description
            p #{post.dataValues.body}
      .extra.content
        .right.floated.author
          img.ui.avatar.image(src=`/${post.dataValues.user.picture}`) 
          div #{post.dataValues.user.name}
